* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-bottom: 100%;
}

.title {
  position: fixed;
  left: 32px;
  top: 32px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
}

.score {
  position: fixed;
  left: 32px;
  top: 68px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  color: green;
}

.lives {
  position: fixed;
  left: 32px;
  top: 100px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  color: red;
}
